public/css/* linguist-vendored
*.js linguist-detectable
*.json linguist-detectable
*.html linguist-detectable
*.css linguist-detectable

*.js linguist-language=JavaScript
*.json linguist-language=JSON
*.html linguist-language=HTML
*.css linguist-language=CSS